@{
    ViewData["Title"] = "AddBowlerForm";
}

@model Bowler

<form method="post" class="border-dark">
    <input type="hidden" asp-for="BowlerID" />
    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for="BowlerFirstName">First Name</label>
            </div>

            <input asp-for="BowlerFirstName" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerMiddleInit">Middle Initial</label>
            </div>

            <input asp-for="BowlerMiddleInit" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerLastName">Last Name</label>
            </div>

            <input asp-for="BowlerLastName" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerAddress">Address</label>
            </div>

            <input asp-for="BowlerAddress" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerCity">City</label>
            </div>

            <input asp-for="BowlerCity" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerState">State</label>
            </div>

            <input asp-for="BowlerState" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerZip">Zip</label>
            </div>

            <input asp-for="BowlerZip" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for"BowlerPhoneNumber">Phone Number</label>
            </div>

            <input asp-for="BowlerPhoneNumber" />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <label asp-for="TeamID">Team Name: </label>
            </div>
            <select asp-for="TeamID">
                <option value="1">Marlins</option>
                <option value="2">Sharks</option>
                <option value="3">Terrapins</option>
                <option value="4">Barracudas</option>
                <option value="5">Dolphins</option>
                <option value="6">Orcas</option>
                <option value="7">Manatees</option>
                <option value="8">Swordfish</option>
                <option value="9">Huckleberrys</option>
                <option value="10">MintJuleps</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
